/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
            background-color: #04AA6D;
            color: white;
        }

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

.special {
    color: #E32800;
}

footer {
    background: #2F2A29;
}
/*************footer End*****************/


.right-picture {
    float: right;
}

.left-picture {
    float:left;
}

.vid-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left:20%;
    margin-right:20%;
}

.animate-text span{
    font-size: 40px;
    color: #ff2c45;
    font-weight: 700;
    display: inline-block;
    line-height: 46px;
    display: none;
}

.animate-text span{
    display: block;
    animation: textIn .5s ease;
}

    .animate-text span{
        animation: textOut .5s ease;
    }

@keyframes textIn {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes textOut {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}